/* Global Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #D5D5D5;
    font-size: 80%;
    background: #191919 url(../images/wood-texture-dark.jpeg) top center / 100% no-repeat;
}

.container-fluid {
    padding: 0;
}


/* Content */

h1 {
    padding: 66px 0 24px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.story-frame {
    padding-left: 150px;
    padding-right: 150px;
}

.story-frame img {
    border: 40px solid #191919;
    padding: 0;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

button {
    padding: 50px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 270%;
    font-weight: 900;
    color: #D5D5D5;
    line-height: 0px;
    text-transform: uppercase;
    background-color: #494949;
    border: 40px solid #191919;
}

#turn-left {
    border-top: 0;
    border-right-width: 20px;
}

#turn-right {
    border-top: 0;
    border-left-width: 20px;
}


/* Footer */

footer h3 {
    margin: 24px 0;
    font-size: 250%;
    color: #646464;
}


/* Media Queries */

@media screen and (max-width: 1920px){
    h1 {
        padding: 30px 0 6px 0;
        font-size: 290%;
    }

    .story-frame {
        padding-left: 200px;
        padding-right: 200px;
    }

    .story-frame img {
        border-width: 22px;
    }

    button {
        padding: 28px 0;
        font-size: 152%;
        border-width: 22px;
    }

    #turn-left {
        border-right-width: 11px;
    }

    #turn-right {
        border-left-width: 11px;
    }

    footer h3 {
        margin: 12px 0;
        font-size: 120%;
    }
}

@media screen and (max-width: 1440px){
    h1 {
        padding: 40px 0 6px 0;
    }

    .story-frame {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1025px){
    body {
        background-size: auto;
    }

    h1 {
        font-size: 250%;
    }

    .story-frame {
        padding-left: 30px;
        padding-right: 30px;
    }

    button {
        padding: 26px 0;
        font-size: 125%;
    }
}

@media screen and (max-width: 768px){
    .story-frame {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 426px){
    h1 {
        padding: 50px 0 10px 0;
    }

    .story-frame {
        padding-left: 12px;
        padding-right: 12px;
    }

    .story-frame img {
        border-width: 18px;
    }

    button {
        border-width: 18px;
    }

    #turn-left {
        border-right-width: 9px;
    }

    #turn-right {
        border-left-width: 9px;
    }
}