/* Global Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #dcdcdc;
    background: #191919 url(../images/wood-texture-dark.jpeg) top center / 100% no-repeat;
    overflow-x: hidden;
}

h1 {
    padding: 66px 0 24px 0;
    color: #FFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-size: 145%;
}

.container-fluid {
    padding: 0;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}


/* Instructions Modal */

.modal {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-row {
    width: 100%;
    height: 100%;
}

#instruction-box {
    padding: 0 5%;
    height: 100%;
    box-sizing: border-box;
    background-color: #0a0a0a;
}

#instruction-box h2 {
    padding-top: 4%;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: -0.8px;
}

#instruction-box ul {
    padding-top: 2%;
    font-size: 200%;
    list-style-type: square;
}

#play-button {
    padding: 25px 50px;
    border: 0;
    text-transform: uppercase;
    font-size: 150%;
}


/* Log */

.panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 4% 3%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #0a0a0a;
    z-index: 2;
}

.panel::-webkit-scrollbar {
    display: none;
}

.panel h3 {
    padding-bottom: 3%;
    text-align: center;
}

.panel ul {
    list-style-type: square;
}

#log {
    width: fit-content;
    height: 100%;
}

#open-log {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    padding: 1%;
    border: 0;
    background-color: #0a0a0a;
    z-index: 2;
}


/* Story Frame */

.story-image {
    position: relative;
}

.story-frame img {
    border: 40px solid #191919;
    padding: 0;
}

#story-frame-1 {
    position: relative;
}

#compass {
    position: absolute;
    top: 5.5%;
    right: 20.5%;
    font-size: 150%;
    font-weight: 700;
}

.compass {
    color: #b0b0b0;
}

.page-2-compass {
    color: #fff;
}

.page-3-compass {
    color: #646464;
}

.click-me {
    position: absolute;
    border: 0;
    background-color: rgba(0,0,0,0);
}

#tree-line {
    top: 50.5%;
    left: 29.2%;
    padding: 0.8%;
}

#river-1 {
    top: 35%;
    left: 47%;
    padding: 1.1%;
}

#river-2 {
    top: 41%;
    left: 28%;
    padding: 1.1%;
}

#path-1 {
    top: 58%;
    left: 26.5%;
    padding: 1.6%;
}

#path-2 {
    top: 67%;
    left: 38%;
    padding: 4%;
}

#alley {
    top: 30%;
    left: 42%;
    padding: 6%;
}

#scream {
    top: 35%;
    left: 50%;
    padding: 6%;
}

/* Text box */

.text-box {
    position: absolute;
    bottom: 10%;
    left: 29.2%;
    padding: 2% 3%;
    background-color: #191919;
    z-index: 1;
}

.arrow-button {
    position: absolute;
    right: 5%;
    bottom: 35px;
    padding: 2px;
    border: 0;
    background-color: rgba(0,0,0,0);
}

/* Name Input Modal */

#name-box {
    margin-top: 20%;
    padding: 2% 0;
    height: 20%;
    background-color: #191919;
}

#submit-name {
    padding: 15px 30px;
    border: 0;
    text-transform: uppercase;
    font-size: 120%;
}


/* Turn Buttons */

button {
    padding: 45px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 190%;
    font-weight: 900;
    color: #D5D5D5;
    line-height: 0px;
    text-transform: uppercase;
    background-color: #494949;
    border: 40px solid #191919;
    z-index: 1;
}

.turn-left {
    color: #646464;
    border-top: 0;
    border-right-width: 20px;
}

.turn-right {
    color: #646464;
    border-top: 0;
    border-left-width: 20px;
}

#reload-button {
    border-top: 0;
}


/* Thank You Box */

#thank-you-box {
    padding: 0 5%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #0a0a0a;
}

#thank-you-box h2 {
    padding-top: 30%;
    font-weight: 600;
    letter-spacing: -0.8px;
}

#thank-you-box p {
    padding-top: 4%;
    font-size: 130%;
}

#reload-button-end {
    margin-top: 38%;
    border-width: 15px;
}


/* Footer */

footer h3 {
    margin: 24px 0;
    font-size: 250%;
    font-weight: 500;
    color: #696969;
}


/* Media Queries */

@media screen and (max-width: 1920px){
    h1 {
        padding: 30px 0 6px 0;
        font-size: 290%;
    }

    p {
        font-size: 100%;
    }

    #instruction-box h2 {
        font-size: 180%;
    }

    #instruction-box ul {
        font-size: 125%;
    }

    .story-frame img {
        border-width: 22px;
    }

    .arrow-button {
        bottom: 20px;
    }

    button {
        padding: 28px 0;
        font-size: 120%;
        border-width: 22px;
    }

    .turn-left {
        border-right-width: 11px;
    }

    .turn-right {
        border-left-width: 11px;
    }

    footer h3 {
        margin: 12px 0;
        font-size: 120%;
    }
}

@media screen and (max-width: 1440px){
    h1 {
        padding: 40px 0 6px 0;
    }

    #compass {
        right: 21%;
    }
}

@media screen and (max-width: 1025px){
    body {
        background-size: auto;
    }

    h1 {
        font-size: 250%;
    }

    p {
        font-size: 85%;
    }

    #instruction-box h2 {
        font-size: 130%;
    }

    #instruction-box ul {
        font-size: 100%;
    }

    #play-button {
        padding: 20px 40px;
        font-size: 130%;
    }

    .panel h3 {
        font-size: 140%;
    }

    .panel li {
        font-size: 90%;
    }

    .story-frame img {
        border-width: 18px;
    }

    #compass {
        right: 21.5%;
    }

    .text-box {
        padding: 2.5% 3%;
    }

    .arrow-button {
        bottom: 15px;
    }

    button {
        padding: 26px 0;
        font-size: 95%;
        border-width: 18px;
    }

    .turn-left {
        border-right-width: 9px;
    }

    .turn-right {
        border-left-width: 9px;
    }
}

@media screen and (max-width: 768px){
    #open-log {
        padding: 2%;
    }

    .story-frame {
        padding-left: 100px;
        padding-right: 100px;
    }

    #compass {
        top: 6.5%;
        right: 1.5%;
    }

    #tree-line {
        left: 12.5%;
        padding: 2%;
    }

    #river-1 {
        left: 42%;
        padding: 2.4%;
    }

    #river-2 {
        left: 5.8%;
        padding: 2.4%;
    }

    .text-box {
        left: 12.5%;
        padding: 4% 3%;
    }

    #name-box {
        margin-top: 40%;
    }

    #submit-name {
        margin-top: 3%;
    }
}

@media screen and (max-width: 426px){
    h1 {
        padding: 50px 0 10px 0;
    }

    .modal-row {
        margin: 0;
    }

    #instruction-box h2 {
        font-size: 120%;
    }

    #instruction-box ul {
        font-size: 90%;
    }

    .story-frame {
        padding-left: 12px;
        padding-right: 12px;
    }

    .story-frame img {
        border-width: 18px;
    }

    #compass {
        top: 7%;
        right: 4.5%;
    }

    button {
        border-width: 18px;
    }

    .turn-left {
        border-right-width: 9px;
    }

    .turn-right {
        border-left-width: 9px;
    }
}